<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppUrl" value="https://ebiz-india.flozen.io/content/loginbox" />
    <add key="AppName" value="Flozen" />
    <add key="Username" value="sudarshan" />
    <add key="Password" value="Abcd123$" />
    <add key="Browser" value="Chrome" />
    <add key="DataRandomToken" value="" />
    <add key="ChromeDriverPath" value="\\Drivers" />
    <add key="ChromeDriverArchivePath" value="\\DriversArchive" />
    <add key="DataFolder" value="\\Data" />
    <add key="ReportsFolder" value="\\Reports" />
    <add key="ReportTitle" value="Test Execution Report" />
    <add key="BuildNum" value="Build-12345" />
    <add key="ScreenshotsFolder" value="\\Screenshots" />
    <add key="EnableLogging" value="Yes" />
    <add key="LogsFolder" value="\\Logs" />
    <add key="LogFileName" value="\\Log.txt" />
    <add key="MaxTimeOut" value="180" />
    <add key="PageLoadTimeout" value="180" />
    <add key="ImplicitWaitTime" value="180" />
    <add key="QuickWaitTime" value="10" />
    <add key="SendEmailReport" value="No" />
    <add key="SmtpServer" value="smtp.mailtrap.io" />
    <add key="SmtpPort" value="2525" />
    <add key="SenderMailUser" value="54050db4b5dd06" />
    <add key="SenderPassword" value="1ce72eb08d7d19" />
    <add key="SenderMail" value="devops-admin@company.com" />
    <add key="MailTo" value="temp12345678@mailtrap.io" />
    <add key="MailCc" value="" />
    <add key="AttachExecLogsWithEmail" value="Yes" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>